.ant-layout-sider-zero-width-trigger {
  top: 10px;
}

.site-layout-sub-header-background {
  text-align: center;
  background: #fff;
}

.ant-layout-header {
  user-select: none;
}

.ant-form-item-label {
  width: 120px;
}

.ant-layout {
  width: auto;

  .ant-layout-sider-zero-width-trigger {
    top: 10px
  }
}

.ant-table-content{
  overflow: scroll;
}

@media screen and (max-width: 600px) {
  .ant-layout-has-sider .ant-layout-sider{
    height: 100%;
    position: fixed;
    z-index: 1000;
  }
}
