.ant-layout-sider-zero-width-trigger {
  top: 10px;
}

.site-layout-sub-header-background {
  text-align: center;
  background: #fff;
}

.ant-layout-header {
  user-select: none;
}

.ant-form-item-label {
  width: 120px;
}

.ant-layout {
  width: auto;

  .ant-layout-sider-zero-width-trigger {
    top: 10px
  }
}